
//Fonts
$font-primary : 'Lato',sans-serif; //default
$font-secondary : 'Roboto',sans-serif; //Title, 
$font-tertiary : 'Montserrat',sans-serif; //Other
$font-curve : 'Comfortaa',sans-serif;
$font-bold-curve : 'Alkatra', sans-serif;


// Font Size
// $Title : 4rem;


// Color
// $color-primary : rgb(2, 2, 26);
$color-primary : #ffaabb;
$color-primary-light : #ffd4dd;
$color-primary-dark : #ff7692   ;
// $color-primary-dark : #ff5577;

$color-secondary : #be8bd2;
$color-secondary-light : rgb(206, 169, 220);
$color-secondary-dark : #b16dcb;


// $color-tertiary : #B4F8C8;
$color-tertiary : #0ABAB5;
$color-tertiary-light : #a3e3e1;


$color-grey-light-1: #f7f7f7;

$color-grey-dark: #999;
$color-grey-dark-2: #666;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-black: #000;


// Gradient
// $primary-gradient-right: linear-gradient(to bottom right,$color-primary-dark,$color-primary);
// $primary-gradient-left: linear-gradient(to bottom left,$color-primary-dark,$color-primary);

// $orange-gradient-right: linear-gradient(to right, $color-secondary-light, $color-secondary);
// $orange-gradient-left: linear-gradient(to left, $color-secondary-light, $color-secondary);

// $secondary-gradient-bottom-right: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
// $secondary-gradient-bottom-left: linear-gradient(to bottom left, $color-secondary-light, $color-secondary-dark);


// Magnitude
// $header-height:10rem;
// $footer-height:10rem;

// Other

$perspective_value:100rem;
$shadow-value:0rem 0rem 3rem rgba(0, 0, 0, 0.3);
$shadowSmall-value:0rem 0rem 0.7rem rgba(0, 0, 0, 0.3);
// $border-color_value: rgba(255, 255, 255, 0.15);

