@import '../abstracts/Variables.scss';

.cards{
    width: 30rem;
    height: 48rem;
    margin: 5rem;
    background-color: $color-secondary-light;
    border-color: $color-secondary-dark;
    border-width: 0.4rem;
    border-style:solid;
    border-radius: 2rem;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    // cursor: pointer;
    
}