@import '../../abstracts/Animations.scss';

.loader{
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // z-index: 2000;
    // margin: 5rem;

    &__ring{
        width: 20rem;
        height: 20rem;
        border: 0px solid white;
        border-radius: 50%;
        position: absolute;
        
        &--1{
            // background-color: red;
            border-bottom-width: 8px;
            animation: rotate_1 2s linear infinite;
        }
        &--2{
            // background-color: red;
            border-left-width: 8px;
            animation: rotate_2 2s linear infinite;
        }
    }
    & p{
        font-size: 2rem;
        color: white;
    }
}

