@import '../abstracts/Variables.scss';
@import '../abstracts/Mixins.scss';

.createNote{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    background-color: $color-secondary;
    padding: 2%;
    border-radius: 3rem;
    gap: 1.5rem;

    // & div{
    //     background-color: red;
    // }

    &--Container{
        margin: 7rem auto;
    }

    & h4{
        font-size: 3rem;
        font-family: $font-secondary;
        margin-bottom: 2rem;
    }

    &__Group{
        display: flex;
        // width: 20rem;
    }

    &__input {
        text-align: left;
        color: black;
        font-size: 1.5rem;
        font-family: $font-tertiary;
        font-weight: 500;
        padding: 1rem 1.5rem;
        border-radius: 2px;
        background-color: $color-grey-light-1;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        min-width: 25rem;
        // display: block;
        transition: all .3s;
        text-overflow: ellipsis;
        // background-color: red;
        // display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 1rem rgba($color-white, 0.2);
            border-bottom: 3px solid rgb(53, 231, 53);
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &::placeholder {
            color: $color-grey-dark-2;
        }
    }


    &__label {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-top: 3px;
        display: block;
        transition: all .3s;
        // background-color: blue;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }

    &__Buttons{
        display: flex;
        & button{
            @include button__styles--1;
            margin: auto;
            width: 16rem;
            padding: 1rem 1rem;
            background-color: $color-primary-dark;
            font-size: 1.7rem;
        }

        // background-color: red;
    }

    &__modalButtons{
        @include button__styles--1;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        background-color: $color-primary-dark;
    }
}